@using StreamTec;
@model StreamTec.Models.Enrollment

@{
    ViewData["Title"] = "Admin Page";
    IEnumerable<Stream> streams = ViewData["Streams"] as IEnumerable<Stream>;
    IEnumerable<Student> students = ViewData["Students"] as IEnumerable<Student>;
    IEnumerable<Enrollment> enrollments = ViewData["Enrollments"] as IEnumerable<Enrollment>;
}

<div class="container">
     <div class="d-flex justify-content-between align-items-center">
       <h2>Administration</h2>
</div>
    <form asp-controller="Admin" asp-action="Search">
        <div class="d-flex justify-content-between align-items-center">
            <h4>Search</h4>
        </div>
        <p>
            <input type="text" placeholder="StudentID" name="search" />
            <input type="submit" value="Search" />
        </p>
    </form>
    <form asp-controller="Admin" asp-action="Add">
        <div class="d-flex justify-content-between align-items-center">
            <h4>Enrol a Student to a Stream</h4>
        </div>
        <p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*            <input asp-for="StudentId" name="student" class="form-group mt-3" placeholder="StudentID" required/>
            <span asp-validation-for="StudentId" class="text-danger field-validation-valid"></span>*@
            <select name="student" class="form-select-sm">
                @foreach (Student student in students)
                {
                    <option value="@student.StudentId">@student.StudentId</option>
                }
            </select>
            <select name="stream" class="form-select-sm">
                @foreach(Stream stream in streams)
                {
                    <option value="@stream.StreamID">@stream.StreamID</option>
                }
            </select>
            <input type="submit" value="Add" />
        </p>
    </form>
   <div>
       <table class="table table-striped">
           <thead>
    <tr>
      <th scope="col">StudentID</th>
      <th scope="col">Email</th>
      <th scope="col">StreamID</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
       @foreach(Enrollment enrol in enrollments)
         {            
         <tr>
            <td>@enrol.StudentId</td>
            <td>@enrol.Students.Email</td>
            <td>@enrol.StreamID</td>
            <td><a asp-action="Delete" onclick="return confirm('Are you sure you want to delete this?')"  asp-route-id="@enrol.EnrollmentID">Delete</a></td>
        </tr>         
         }
  </tbody>
       </table>
   </div>
</div> 
